/* line 5, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
body nav {
  background: #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 8, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
body nav .navbar-brand {
  color: #FF8800 !important;
}
/* line 11, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
body nav .navbar-nav .nav-item a {
  color: #adadad !important;
}
/* line 14, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
body nav .navbar-nav li.active a {
  color: #FF8800 !important;
}
/* line 18, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
body > .content {
  margin-top: 55px;
}
/* line 20, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
body > .content > .container {
  margin-top: 20px;
}
/* line 24, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
body footer {
  margin-top: 30px;
  background-color: #FF8800;
  padding-top: 15px;
  color: #FFFFFF;
}
/* line 29, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
body footer a {
  text-decoration: none !important;
  color: #FFFFFF;
}
/* line 34, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
body .primary-font {
  color: #FF8800 !important;
}
/* line 37, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
body .map {
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #FF8800;
}
/* line 43, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
body iframe {
  border: none;
}
/* line 46, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
body .jumbotron-no-padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
/* line 50, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
body .jumbotron img {
  width: 100%;
  height: 100%;
}
/* line 54, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
body .events-card {
  border-radius: 0px;
  border: none;
}
/* line 55, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
body .events-card .card-header {
  color: #FFFFFF;
  background-color: #FF8800;
  border-radius: 0px;
}
/* line 59, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
body .events-card .card-header a {
  color: #FFFFFF;
  text-decoration: none;
}
/* line 64, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
body .events-card .card-block {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* line 71, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
button.navbar-toggler {
  background-color: #FF8800;
}

/* line 74, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
.map-notice:before {
  content: '*';
}

/* line 77, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
.grey-text {
  color: #adadad;
}

/* line 80, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
.scrolloff {
  pointer-events: none;
}

/* line 83, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
.form-control {
  margin-bottom: 10px;
}

/* line 86, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
.calendar thead tr th {
  text-align: center !important;
}

/* line 89, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
.notmonth {
  color: #adadad !important;
}

/* line 92, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
.today {
  background-color: #FFA726;
  color: #ffffff;
}

/* line 96, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
.event-notification {
  position: relative;
  top: -10px;
}

/* line 100, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
.carousel-item {
  height: 550px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 106, /Users/dhairya/sites/radhamadhav/app/assets/stylesheets/custom.scss */
.gallery-image {
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
