$main-color: #FF8800;
$white: #FFFFFF;
$accent-color: #FFA726;
body {
  nav {
    background: $white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    .navbar-brand{
      color: $main-color !important;
    }
    .navbar-nav .nav-item a {
      color: #adadad !important;
    }
    .navbar-nav li.active a{
      color: $main-color !important;
    }
  }
  > .content {
    margin-top: 55px;
    > .container {
      margin-top: 20px;
    }
  }
  footer {
    margin-top: 30px;
    background-color: $main-color;
    padding-top: 15px;
    color: $white;
    a {
      text-decoration: none !important;
      color: $white;
    }
  }
  .primary-font {
    color: $main-color !important;
  }
  .map {
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: $main-color;
  }
  iframe {
    border: none;
  }
  .jumbotron-no-padding {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .jumbotron img {
    width: 100%;
    height: 100%;
  }
  .events-card {
    .card-header {
      color: $white;
      background-color: $main-color;
      border-radius: 0px;
      a {
        color: $white;
        text-decoration: none;
      }
    }
    .card-block {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    }
    border-radius: 0px;
    border: none;
  }
}
button.navbar-toggler{
  background-color: $main-color;
}
.map-notice:before{
  content: '*';
}
.grey-text{
  color: #adadad;
}
.scrolloff {
  pointer-events: none;
}
.form-control{
  margin-bottom:10px;
}
.calendar thead tr th{
  text-align: center !important;
}
.notmonth{
  color: #adadad !important;
}
.today{
  background-color: $accent-color;
  color: #ffffff;
}
.event-notification{
  position: relative;
  top: -10px;
}
.carousel-item{
  height:550px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery-image {
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
html{
  overflow-x: hidden;
}