<div class="row map">
  <div class="container">
    <div class="col-12">
      <iframe src="https://www.google.com/maps/d/u/3/embed?mid=10WURbW4N1A9R9lECVZ-t2VdoZDI" class="col-12" height="400px" id="map_frame"></iframe>
    </div>
  </div>
</div>